*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(160, 158, 161);
}
.box{
    display:grid;
    border-color: black;
    border-width: 1em;
    margin: 3em;
    border-radius: 25px;
    
}
h1{
    text-align: center;
    border-bottom: 1px;
    
}
.line{
    padding-bottom: 1em;
}
input{
    width: 50%;
}

button{
    padding: 5px 0px 5px 0;
    margin:  10px;
}