.section{
    position:relative;
    width:100%;
    display:block;
}
full-height{
    min-height:100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
    position: absolute;
    left:-9999px;
}
.checkbox:checked * label,
.checkbox:not(:checked) * label{
    position:relative;
    display:block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor:pointer;
    background-color: #ffeba7;
}
